# Simulated Model V5
Model uses monte carlo simulation to find most likely teams at each spot

In [1]:
#Import packages
import pandas as pd
import numpy as np
import os, sys

#Import other files
raw_path = os.path.join('..', 'data', 'raw')
proc_path = os.path.join('..', 'data', 'processed')
sys.path.append(os.path.join('..', 'src'))
from model.Log_Model import *
from model.Scoring import *
from sklearn.preprocessing import RobustScaler
from sklearn.feature_selection import SelectKBest

%load_ext autoreload
%autoreload 2

//anaconda/lib/python2.7/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [2]:
#Read in data
ss_v1 = pd.read_csv(os.path.join(proc_path, 'scoring_set_v1.csv'))

# Reads in data
seeds = pd.read_csv(os.path.join(raw_path, 'TourneySeeds.csv'))
slots = pd.read_csv(os.path.join(raw_path, 'TourneySlots.csv'))
results = pd.read_csv(os.path.join(raw_path, 'TourneyCompactResults.csv'))
features = pd.read_csv(os.path.join(proc_path, 'team_features_v2.csv'))

seeds = seeds[seeds['Season']>2003]
slots = slots[slots['Season']>2003]
results = results[results['Season']>2003]

In [3]:
#Preps file for model
x = ss_v1.drop(['Outcome', 'Team_A', 'Team_B'], 1)
y = [1 if a>0 else 0 for a in ss_v1['Outcome']]

In [4]:
#Creates model
game_model = Log_Model()
game_model.set_training(x,y)
game_model.calc_model()
print game_model.get_model_type()
print game_model.get_acc()

#Scores in simulated tournament
scorer = Scorer(features)
scorer.set_variables(slots, seeds, results, game_model)

lr
0.696470588235

In [23]:
scorer.score_model(trials=10)

79.13665892612741

In [20]:
test[57]

      Season  Slot  Oteam  matchup
2072    2015  R1W1   1437       10

In [21]:
test[63]

    Season  Slot  Oteam
6   2015.0  R1X3   1235
7   2015.0  R1X2   1211
8   2015.0  R1X1   1181
9   2015.0  R1X7   1234
10  2015.0  R1X6   1374
11  2015.0  R1X5   1372
12  2015.0  R1X4   1207
13  2015.0  R1Z1   1458
14  2015.0  R1Z3   1124
15  2015.0  R1X8   1361
16  2015.0  R1Z5   1459
17  2015.0  R1Z4   1314
18  2015.0  R1Z7   1433
19  2015.0  R1Z6   1462
22  2015.0  R1Z2   1112
42  2015.0  R1Y1   1246
43  2015.0  R1Y2   1242
44  2015.0  R1Y3   1323
45  2015.0  R1Y4   1434
46  2015.0  R1Y5   1452
47  2015.0  R1Y6   1400
48  2015.0  R1Y7   1455
49  2015.0  R1Y8   1345
51  2015.0  R1Z8   1332
54  2015.0  R1W2   1438
55  2015.0  R1W3   1328
57  2015.0  R1W1   1437
58  2015.0  R1W6   1344
59  2015.0  R1W7   1208
60  2015.0  R1W4   1414
61  2015.0  R1W5   1320
62  2015.0  R1W8   1261

In [54]:
actuals = scorer.simulate_tournament(False)

In [71]:
score = 0
if trials>1:
    aggregate = pd.DataFrame()
    for trial in range(trials):
        pred_trial = scorer.simulate_tournament(True, interactions, True)
        for rnd in pred_trial:
            aggregate = aggregate.append(rnd[['Season', 'Slot', 'Oteam', 'matchup']])
    aggregate_idx = aggregate.groupby(['Season', 'Slot', 'Oteam']).count().reset_index()
    pred = pd.DataFrame()
    idx = 0
    for s in set(aggregate_idx['Season']):
        for sl in set(aggregate_idx['Slot']):
            pred.set_value(idx, 'Season', s)
            pred.set_value(idx, 'Slot', sl)
            pred.set_value(idx, 'Round', sl[0:2])
            options = aggregate_idx[(aggregate_idx['Season']==s) & (aggregate_idx['Slot']==sl)].sort_values(by='matchup', ascending=False).head(1)
            pred.set_value(idx, 'Oteam', options['Oteam'].values[0])
            idx += 1
    pred['Oteam'] = [int(a) for a in pred['Oteam']]
    for idx2 in range(6):
        act = actuals[idx2][['Season', 'Slot', 'Oteam']]
        pre = pred[pred['Round']==('R'+str(idx2+1))][['Season', 'Slot', 'Oteam']]
        comb = act.merge(pre, on=['Season', 'Slot'])
        comb['Correct'] = [1 if a==b else 0 for a,b in zip(comb['Oteam_x'], comb['Oteam_y'])]
        pts = np.sum(comb['Correct'])
        score += pts * (2**idx2)
        print pts, (idx2+1), score
    score = 1.0 * score / len(set(slots['Season']))

119 1 119
4 2 127
0 3 127
0 4 127
0 5 127
0 6 127

In [74]:
actuals, pred = scorer.get_tourney_pred(trials=10)

In [83]:
#Just looks at 2015 data
actuals = actuals[actuals['Season']==2015]
pred = pred[pred['Season']==2015]

In [86]:
teams = pd.read_csv(os.path.join(raw_path, 'Teams.csv'))
teams

     Team_Id        Team_Name
0       1101      Abilene Chr
1       1102        Air Force
2       1103            Akron
3       1104          Alabama
4       1105      Alabama A&M
5       1106       Alabama St
6       1107        Albany NY
7       1108        Alcorn St
8       1109     Alliant Intl
9       1110    American Univ
10      1111   Appalachian St
11      1112          Arizona
12      1113       Arizona St
13      1114  Ark Little Rock
14      1115   Ark Pine Bluff
15      1116         Arkansas
16      1117      Arkansas St
17      1118     Armstrong St
18      1119             Army
19      1120           Auburn
20      1121          Augusta
21      1122      Austin Peay
22      1123          Ball St
23      1124           Baylor
24      1125          Belmont
25      1126  Bethune-Cookman
26      1127       Binghamton
27      1128    Birmingham So
28      1129         Boise St
29      1130   Boston College
..       ...              ...
334     1435       Vanderbilt
335     1436          Vermont
336     1437        Villanova
337     1438         Virginia
338     1439    Virginia Tech
339     1440              VMI
340     1441       W Carolina
341     1442       W Illinois
342     1443              WKU
343     1444       W Michigan
344     1445       W Salem St
345     1446      W Texas A&M
346     1447           Wagner
347     1448      Wake Forest
348     1449       Washington
349     1450    Washington St
350     1451         Weber St
351     1452    West Virginia
352     1453     WI Green Bay
353     1454     WI Milwaukee
354     1455       Wichita St
355     1456   William & Mary
356     1457         Winthrop
357     1458        Wisconsin
358     1459          Wofford
359     1460        Wright St
360     1461          Wyoming
361     1462           Xavier
362     1463             Yale
363     1464    Youngstown St

[364 rows x 2 columns]

In [88]:
test = pred[pred['Round']=='R1'].merge(teams, left_on='Oteam', right_on='Team_Id')
test

    Season  Slot Round   Oteam  Team_Id      Team_Name
0   2015.0  R1X3    R1  1412.0     1412            UAB
1   2015.0  R1X2    R1  1295.0     1295    N Dakota St
2   2015.0  R1X1    R1  1352.0     1352  Robert Morris
3   2015.0  R1X7    R1  1172.0     1172       Davidson
4   2015.0  R1X6    R1  1374.0     1374            SMU
5   2015.0  R1X5    R1  1372.0     1372      SF Austin
6   2015.0  R1X4    R1  1186.0     1186   E Washington
7   2015.0  R1Z1    R1  1157.0     1157    Coastal Car
8   2015.0  R1Z3    R1  1209.0     1209     Georgia St
9   2015.0  R1X8    R1  1385.0     1385      St John's
10  2015.0  R1Z5    R1  1459.0     1459        Wofford
11  2015.0  R1Z4    R1  1217.0     1217        Harvard
12  2015.0  R1Z7    R1  1326.0     1326        Ohio St
13  2015.0  R1Z6    R1  1462.0     1462         Xavier
14  2015.0  R1Z2    R1  1411.0     1411    TX Southern
15  2015.0  R1Y1    R1  1214.0     1214        Hampton
16  2015.0  R1Y2    R1  1308.0     1308  New Mexico St
17  2015.0  R1Y3    R1  1318.0     1318   Northeastern
18  2015.0  R1Y4    R1  1434.0     1434     Valparaiso
19  2015.0  R1Y5    R1  1452.0     1452  West Virginia
20  2015.0  R1Y6    R1  1400.0     1400          Texas
21  2015.0  R1Y7    R1  1231.0     1231        Indiana
22  2015.0  R1Y8    R1  1153.0     1153     Cincinnati
23  2015.0  R1Z8    R1  1332.0     1332         Oregon
24  2015.0  R1W2    R1  1125.0     1125        Belmont
25  2015.0  R1W3    R1  1107.0     1107      Albany NY
26  2015.0  R1W1    R1  1248.0     1248      Lafayette
27  2015.0  R1W6    R1  1173.0     1173         Dayton
28  2015.0  R1W7    R1  1208.0     1208        Georgia
29  2015.0  R1W4    R1  1414.0     1414      UC Irvine
30  2015.0  R1W5    R1  1461.0     1461        Wyoming
31  2015.0  R1W8    R1  1301.0     1301       NC State

In [89]:
test = actuals[actuals['Round']=='R1'].merge(teams, left_on='Oteam', right_on='Team_Id')
test

,Season,Slot,Strongseed,Weakseed,Round,StrongTeam,WeakTeam,matchup,Oteam,Team_Id,Team_Name
0,2015,R1W1,W01,W16,R1,1437,1248,1248_1437,1437,1437,Villanova
1,2015,R1W2,W02,W15,R1,1438,1125,1125_1438,1438,1438,Virginia
2,2015,R1W3,W03,W14,R1,1328,1107,1107_1328,1328,1328,Oklahoma
3,2015,R1W4,W04,W13,R1,1257,1414,1257_1414,1257,1257,Louisville
4,2015,R1W5,W05,W12,R1,1320,1461,1320_1461,1320,1320,Northern Iowa
5,2015,R1W6,W06,W11,R1,1344,1173,1173_1344,1173,1173,Dayton
6,2015,R1W7,W07,W10,R1,1277,1208,1208_1277,1277,1277,Michigan St
7,2015,R1W8,W08,W09,R1,1301,1261,1261_1301,1301,1301,NC State
8,2015,R1X1,X01,X16,R1,1181,1352,1181_1352,1181,1181,Duke
9,2015,R1X2,X02,X15,R1,1211,1295,1211_1295,1211,1211,Gonzaga
10,2015,R1X3,X03,X14,R1,1235,1412,1235_1412,1412,1412,UAB
11,2015,R1X4,X04,X13,R1,1207,1186,1186_1207,1207,1207,Georgetown
12,2015,R1X5,X05,X12,R1,1428,1372,1372_1428,1428,1428,Utah
13,2015,R1X6,X06,X11,R1,1374,1417,1374_1417,1417,1417,UCLA
14,2015,R1X7,X07,X10,R1,1234,1172,1172_1234,1234,1234,Iowa
15,2015,R1X8,X08,X09,R1,1361,1385,1361_1385,1361,1361,San Diego St
16,2015,R1Y1,Y01,Y16,R1,1246,1214,1214_1246,1246,1246,Kentucky
17,2015,R1Y2,Y02,Y15,R1,1242,1308,1242_1308,1242,1242,Kansas
18,2015,R1Y3,Y03,Y14,R1,1323,1318,1318_1323,1323,1323,Notre Dame
19,2015,R1Y4,Y04,Y13,R1,1268,1434,1268_1434,1268,1268,Maryland
20,2015,R1Y5,Y05,Y12,R1,1452,1138,1138_1452,1452,1452,West Virginia
21,2015,R1Y6,Y06,Y11,R1,1139,1400,1139_1400,1139,1139,Butler
22,2015,R1Y7,Y07,Y10,R1,1455,1231,1231_1455,1455,1455,Wichita St
23,2015,R1Y8,Y08,Y09,R1,1153,1345,1153_1345,1153,1153,Cincinnati
24,2015,R1Z1,Z01,Z16,R1,1458,1157,1157_1458,1458,1458,Wisconsin
25,2015,R1Z2,Z02,Z15,R1,1112,1411,1112_1411,1112,1112,Arizona
26,2015,R1Z3,Z03,Z14,R1,1124,1209,1124_1209,1209,1209,Georgia St
27,2015,R1Z4,Z04,Z13,R1,1314,1217,1217_1314,1314,1314,North Carolina
28,2015,R1Z5,Z05,Z12,R1,1116,1459,1116_1459,1116,1116,Arkansas
29,2015,R1Z6,Z06,Z11,R1,1462,1279,1279_1462,1462,1462,Xavier
30,2015,R1Z7,Z07,Z10,R1,1433,1326,1326_1433,1326,1326,Ohio St
31,2015,R1Z8,Z08,Z09,R1,1332,1329,1329_1332,1332,1332,Oregon

In [82]:
#mergeds actual team names
#Joins actuals and predictions
merged = pd.merge(actuals, pred[['Slot', 'Oteam']], on='Slot')
teams = pd.read_csv(os.path.join(raw_path, 'Teams.csv'))
merged = merged.merge(teams.rename(index=str, columns={'Team_Name':'Oteam_Name'}), left_on='Oteam_x', right_on='Team_Id')
merged = merged.merge(teams.rename(index=str, columns={'Team_Name':'P_Oteam_Name'}), left_on='Oteam_y', right_on='Team_Id')
merged

,Season,Slot,Strongseed,Weakseed,Round,StrongTeam,WeakTeam,matchup,Oteam_x,Oteam_y,Team_Id_x,Oteam_Name,Team_Id_y,P_Oteam_Name
0,2015,R1W1,W01,W16,R1,1437,1248,1248_1437,1437,1248.0,1437,Villanova,1248,Lafayette
1,2015,R3W1,R2W1,R2W4,R3,1301,1257,1257_1301,1257,1248.0,1257,Louisville,1248,Lafayette
2,2015,R4W1,R3W1,R3W2,R4,1257,1277,1257_1277,1277,1248.0,1277,Michigan St,1248,Lafayette
3,2015,R2W1,R1W1,R1W8,R2,1437,1301,1301_1437,1301,1248.0,1301,NC State,1248,Lafayette
4,2015,R5WX,R4W1,R4X1,R5,1277,1181,1181_1277,1181,1248.0,1181,Duke,1248,Lafayette
5,2015,R1W2,W02,W15,R1,1438,1125,1125_1438,1438,1125.0,1438,Virginia,1125,Belmont
6,2015,R2W2,R1W2,R1W7,R2,1438,1277,1277_1438,1277,1125.0,1277,Michigan St,1125,Belmont
7,2015,R3W2,R2W2,R2W3,R3,1277,1328,1277_1328,1277,1125.0,1277,Michigan St,1125,Belmont
8,2015,R1W3,W03,W14,R1,1328,1107,1107_1328,1328,1107.0,1328,Oklahoma,1107,Albany NY
9,2015,R2W3,R1W3,R1W6,R2,1328,1173,1173_1328,1328,1173.0,1328,Oklahoma,1173,Dayton
10,2015,R1W6,W06,W11,R1,1344,1173,1173_1344,1173,1173.0,1173,Dayton,1173,Dayton
11,2015,R1W4,W04,W13,R1,1257,1414,1257_1414,1257,1414.0,1257,Louisville,1414,UC Irvine
12,2015,R2W4,R1W4,R1W5,R2,1257,1320,1257_1320,1257,1414.0,1257,Louisville,1414,UC Irvine
13,2015,R1W5,W05,W12,R1,1320,1461,1320_1461,1320,1461.0,1320,Northern Iowa,1461,Wyoming
14,2015,R1W7,W07,W10,R1,1277,1208,1208_1277,1277,1208.0,1277,Michigan St,1208,Georgia
15,2015,R1W8,W08,W09,R1,1301,1261,1261_1301,1301,1301.0,1301,NC State,1301,NC State
16,2015,R1X1,X01,X16,R1,1181,1352,1181_1352,1181,1352.0,1181,Duke,1352,Robert Morris
17,2015,R2X1,R1X1,R1X8,R2,1181,1361,1181_1361,1181,1352.0,1181,Duke,1352,Robert Morris
18,2015,R3X1,R2X1,R2X4,R3,1181,1428,1181_1428,1181,1352.0,1181,Duke,1352,Robert Morris
19,2015,R4X1,R3X1,R3X2,R4,1181,1211,1181_1211,1181,1352.0,1181,Duke,1352,Robert Morris
20,2015,R6CH,R5WX,R5YZ,R6,1181,1458,1181_1458,1181,1411.0,1181,Duke,1411,TX Southern
21,2015,R4Z1,R3Z1,R3Z2,R4,1458,1112,1112_1458,1458,1411.0,1458,Wisconsin,1411,TX Southern
22,2015,R5YZ,R4Y1,R4Z1,R5,1246,1458,1246_1458,1458,1411.0,1458,Wisconsin,1411,TX Southern
23,2015,R1Z2,Z02,Z15,R1,1112,1411,1112_1411,1112,1411.0,1112,Arizona,1411,TX Southern
24,2015,R2Z2,R1Z2,R1Z7,R2,1112,1326,1112_1326,1112,1411.0,1112,Arizona,1411,TX Southern
25,2015,R3Z2,R2Z2,R2Z3,R3,1112,1462,1112_1462,1112,1411.0,1112,Arizona,1411,TX Southern
26,2015,R1X2,X02,X15,R1,1211,1295,1211_1295,1211,1295.0,1211,Gonzaga,1295,N Dakota St
27,2015,R2X2,R1X2,R1X7,R2,1211,1234,1211_1234,1211,1295.0,1211,Gonzaga,1295,N Dakota St
28,2015,R3X2,R2X2,R2X3,R3,1211,1417,1211_1417,1211,1295.0,1211,Gonzaga,1295,N Dakota St
29,2015,R1X3,X03,X14,R1,1235,1412,1235_1412,1412,1412.0,1412,UAB,1412,UAB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33,2015,R1X5,X05,X12,R1,1428,1372,1372_1428,1428,1372.0,1428,Utah,1372,SF Austin
34,2015,R1X6,X06,X11,R1,1374,1417,1374_1417,1417,1374.0,1417,UCLA,1374,SMU
35,2015,R1X7,X07,X10,R1,1234,1172,1172_1234,1234,1172.0,1234,Iowa,1172,Davidson
36,2015,R1X8,X08,X09,R1,1361,1385,1361_1385,1361,1385.0,1361,San Diego St,1385,St John's
37,2015,R1Y1,Y01,Y16,R1,1246,1214,1214_1246,1246,1214.0,1246,Kentucky,1214,Hampton
38,2015,R2Y1,R1Y1,R1Y8,R2,1246,1153,1153_1246,1246,1214.0,1246,Kentucky,1214,Hampton
39,2015,R3Y1,R2Y1,R2Y4,R3,1246,1452,1246_1452,1246,1214.0,1246,Kentucky,1214,Hampton
40,2015,R4Y1,R3Y1,R3Y2,R4,1246,1323,1246_1323,1246,1214.0,1246,Kentucky,1214,Hampton
41,2015,R1Y2,Y02,Y15,R1,1242,1308,1242_1308,1242,1308.0,1242,Kansas,1308,New Mexico St
42,2015,R1Y3,Y03,Y14,R1,1323,1318,1318_1323,1323,1318.0,1323,Notre Dame,1318,Northeastern
43,2015,R2Y3,R1Y3,R1Y6,R2,1323,1139,1139_1323,1323,1318.0,1323,Notre Dame,1318,Northeastern
44,2015,R3Y2,R2Y2,R2Y3,R3,1455,1323,1323_1455,1323,1318.0,1323,Notre Dame,1318,Northeastern
45,2015,R1Y4,Y04,Y13,R1,1268,1434,1268_1434,1268,1434.0,1268,Maryland,1434,Valparaiso
46,2015,R2Y4,R1Y4,R1Y5,R2,1268,1452,1268_1452,1452,1434.0,1452,West Virginia,1434,Valparaiso
47,2015,R1Y5,Y05,Y12,R1,1452,1138,1138_1452,1452,1452.0,1452,West Virginia,1452,West Virginia
48,2015,R1Y6,Y06,Y11,R1,1139,1400,1139_1400,1139,1400.0,1139,Butler,1400,Texas
49,2015,R1Y7,Y07,Y10,R1,1455,1231,1231_1455,1455,1231.0,1455,Wichita St,1231,Indiana
50,2015,R2Y2,R1Y2,R1Y7,R2,1242,1455,1242_1455,1455,1231.0,1455,Wichita St,1231,Indiana
51,2015,R1Y8,Y08,Y09,R1,1153,1345,1153_1345,1153,1153.0,1153,Cincinnati,1153,Cincinnati
52,2015,R1Z1,Z01,Z16,R1,1458,1157,1157_1458,1458,1157.0,1458,Wisconsin,1157,Coastal Car
53,2015,R2Z1,R1Z1,R1Z8,R2,1458,1332,1332_1458,1458,1157.0,1458,Wisconsin,1157,Coastal Car
54,2015,R3Z1,R2Z1,R2Z4,R3,1458,1314,1314_1458,1458,1157.0,1458,Wisconsin,1157,Coastal Car
55,2015,R1Z3,Z03,Z14,R1,1124,1209,1124_1209,1209,1209.0,1209,Georgia St,1209,Georgia St
56,2015,R2Z3,R1Z3,R1Z6,R2,1209,1462,1209_1462,1462,1209.0,1462,Xavier,1209,Georgia St
57,2015,R1Z4,Z04,Z13,R1,1314,1217,1217_1314,1314,1217.0,1314,North Carolina,1217,Harvard
58,2015,R2Z4,R1Z4,R1Z5,R2,1314,1116,1116_1314,1314,1217.0,1314,North Carolina,1217,Harvard
59,2015,R1Z5,Z05,Z12,R1,1116,1459,1116_1459,1116,1459.0,1116,Arkansas,1459,Wofford
60,2015,R1Z6,Z06,Z11,R1,1462,1279,1279_1462,1462,1462.0,1462,Xavier,1462,Xavier
61,2015,R1Z7,Z07,Z10,R1,1433,1326,1326_1433,1326,1326.0,1326,Ohio St,1326,Ohio St
62,2015,R1Z8,Z08,Z09,R1,1332,1329,1329_1332,1332,1332.0,1332,Oregon,1332,Oregon

In [ ]:

merged = merged.merge(teams.rename(index=str, columns={'Team_Name':'StrongTeam_Name'}), left_on='StrongTeam', right_on='Team_Id')
merged = merged.merge(teams.rename(index=str, columns={'Team_Name':'WeakTeam_Name'}), left_on='WeakTeam', right_on='Team_Id')
merged = merged.merge(teams.rename(index=str, columns={'Team_Name':'Wteam_Name'}), left_on='Wteam', right_on='Team_Id')
merged = merged.merge(teams.rename(index=str, columns={'Team_Name':'Lteam_Name'}), left_on='Lteam', right_on='Team_Id')
merged = merged.drop(['StrongTeam', 'WeakTeam', 'Wteam', 'Lteam', 'Team_Id_x', 'Team_Id_y'], 1)

In [26]:
trials = 100
interactions=None
aggregate = pd.DataFrame()
for t in range(trials):
    pred_trial = scorer.simulate_tournament(True, interactions, True)
    for rnd in pred_trial:
        aggregate = aggregate.append(rnd[['Season', 'Slot', 'Oteam', 'matchup']])
aggregate_idx = aggregate.groupby(['Season', 'Slot', 'Oteam']).count().reset_index()

In [47]:
mle = pd.DataFrame()
idx = 0
for s in set(aggregate_idx['Season']):
    for sl in set(aggregate_idx['Slot']):
        mle.set_value(idx, 'Season', s)
        mle.set_value(idx, 'Slot', sl)
        options = aggregate_idx[(aggregate_idx['Season']==s) & (aggregate_idx['Slot']==sl)].sort_values(by='matchup', ascending=False).head(1)
        mle.set_value(idx, 'Oteam', options['Oteam'].values[0])
        idx += 1

In [ ]:
ss = ss_v1[list(game_model.input_cols)].sort_index(axis=1)
# game_model.get_pred(ss)
pred = game_model.get_prob(ss)
pred = [a[0] for a in pred]

In [ ]:
pred

In [ ]:
pred1 = [1 if a>random.random() else 0 for a in pred]

In [ ]:
pred1

In [ ]:
#so i still need to check whether this simulation is workign corrctly.  
start by looking at scoring output to see if logic is corrects